<p id="notice"><%= notice %></p>

<h1>Subgrupos</h1>

<table class="table-striped table-hover">
  <tr>
    <th>Nome</th>

    <th></th>
    <th></th>
  </tr>

<% @subgroups.each do |subgroup| %>
  <tr>
    <td><%= subgroup.name %></td>
    <td><%= link_to '',edit_subgroup_path(subgroup),  :class=>"icon-edit" %></td>
    <td><%= link_to '',subgroup , :class=>"icon-trash", method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Subgrupo', new_subgroup_path ,:class => 'btn btn-primary' %>
