<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @subgroup.name %>
</p>

<p>
  <b>Slug:</b>
  <%= @subgroup.slug %>
</p>


<%= link_to 'Edit', edit_subgroup_path(@subgroup) %> |
<%= link_to 'Back', subgroups_path %>
