<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Code:</b>
  <%= @product.code %>
</p>

<p>
  <b>Barcode:</b>
  <%= @product.barcode %>
</p>

<p>
  <b>Group:</b>
  <%= @product.group %>
</p>

<p>
  <b>Subgroup:</b>
  <%= @product.subgroup %>
</p>

<p>
  <b>Producer:</b>
  <%= @product.producer %>
</p>

<p>
  <b>Sale price:</b>
  <%= @product.sale_price %>
</p>

<p>
  <b>Cost price:</b>
  <%= @product.cost_price %>
</p>

<p>
  <b>Amount:</b>
  <%= @product.amount %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
