<%= form_for(@group, :html{:class=>"form"}) do |f| %>
    <fieldset>
      <legend>Subgrupo</legend>
      <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> problema ao salvar:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <div class="row control-group">
        <%= f.text_field :name ,:class=>"span5", :placeholder=>"Nome" %>
      </div>
      <div class="row control-group">
        <%= f.submit :class=> "btn btn-primary btn-large" %>

        <%= link_to 'Voltar', groups_path , :class=> "btn btn-primary btn-large"  %>

      </div>
    </fieldset>
<% end %>
