<%= form_for(@order, :html=>{:class=>'form'}) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="ui-widget">
    <%= f.label :client %><br />
    <input id="client"  type="text"/>

    <input id="order_client_id" name="order[client_id]" type="hidden"/>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :order_date %><br />
    <%= f.text_field :order_date, :class=>"datepicker" %>
  </div>
  <div class="field">
    <%= f.label :delivery_date %><br />
    <%= f.text_field :delivery_date , :class=>"datepicker" %>
  </div>

     <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
