<div class="ui-widget">
  <%= f.label :product %><br />
  <%= f.text_field :product  %>
  <%= f.hidden_field :product_id  %>


</div>

<div class="ui-widget">
  <%= f.label :amount %><br />
  <%= f.text_field :amount  %>

</div>

