<p id="notice"><%= notice %></p>

<p>
  <b>Client:</b>
  <%= @order.client.name %>
</p>

<p>
  <b>Value:</b>
  <%= @order.total_order %>
</p>

<p>
  <b>Order date:</b>
  <%= @order.order_date %>
</p>

<p>
  <b>Delivery date:</b>
  <%= @order.delivery_date %>
</p>

<h1>Itens</h1>

<table class="table table-striped table-hover">
  <tr>
    <th>Produto</th>
    <th>Quantidade</th>
    <th></th>
    <th></th>
  </tr>

  <% @order.order_items.each do |order_item| %>
      <tr>
        <td><%= order_item.product.name %></td>
        <td><%= order_item.amount %></td>
        <td><%= link_to '',edit_order_item_path(order_item),  :class=>"icon-edit" %></td>
        <td><%= link_to '',order_item , :class=>"icon-trash", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>

<br />



<%= link_to 'Adicionar Itens', new_order_order_items_path(@order.id)  %>
<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
